

.langHeader {
  font-size: 2.2em;
  line-height: 1.1;
}

#frHeader { 
  font-family: 'Kaushan Script', cursive;
}

#grHeader {
  font-family: 'Germania One', system-ui;
}

#itHeader {
  font-family: 'Italiana', sans-serif;
  font-weight: bold;
}

#frenchOne {
  color: blue;
}

#frenchItTwo {
  color: white;
}

#frenchThree {
  color: red;
}

#germanOne {
  color: black;
}

#germanTwo {
  color: red;
}

#germanThree {
  color: gold;
}

#italianOne {
  color: green;
}

#italianThree {
  color: red;
}

@font-face {
  font-family: GentiumPlusW;
  src: url(./assets/gentium-font/GentiumPlus-Regular.woff2);
}

.gentium {
  font-family: GentiumPlusW;
}

