#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#frenchBg {
  background-image: url('./assets/images/french-flag.jpg');
}

#germanBg {
  background-image: url('./assets/images/german-flag.jpg');
}

#italianBg {
  background-image: url('./assets/images/italian-flag.jpg');
}